* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk';
    font-weight: 500;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    position: relative;
    height: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.background {
    width: 35%;
    height: 100%;
    background-image: url(/images/bg-main-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    width: 65%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
}

.form {
    height: 50%;
    justify-content: center;
    font-size: 1.3rem;
}

label {
    margin-top: 1rem;
}

.double {
    margin-top: 1rem;
    gap: 1rem;
}

input {
    border: 1px solid gray;
    border-radius: 0.5rem;
    width: 30rem;
    height: 3.5rem;
    padding: 0 1rem 0 1rem;
    margin-top: 0.5rem;
}

.small-input {
    width: 6rem;
}

#cvc {
    width: 16.7rem;
}

button {
    border: 0;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    margin-top: 3rem;
    border-radius: 0.5rem;
    height: 3.5rem;
}

.card {
    position: absolute;
    z-index: 1;
    width: 40rem;
    height: 21.5rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}

.front {
    background-image: url(/images/bg-card-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 15%;
    left: 15%;
    padding: 2.5rem;
    font-size: 2.8rem;
    text-align: justify;
}

.card-num {
    margin-top: 5.5rem;
}

.user-details {
    justify-self: flex-end;
    margin-top: auto;
    font-size: 1.4rem;
}

.date {
    align-items: flex-end;
    margin-left: auto;
}

.circles {
    align-items: center;
    gap: 1rem;
}

.circle {
    height: 4rem;
    width: 4rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 100%;
}

.small {
    height: 2rem;
    width: 2rem;
    background-color: unset;
    border: 1px solid hsl(0, 0%, 100%);
}

.back {
    background-image: url(/images/bg-card-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 55%;
    left: 20%;
    justify-content: flex-end;
    padding-right: 5rem;
}

input:focus:invalid {
    outline: 0;
    border: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}