* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Font Families*/
    --ff-raleway: 'Raleway';
    --ff-open-sans: 'Open Sans';

    /*Font Weights*/
    --fw-400: 400;
    --fw-700: 700;

    /*Colors*/
    --c-intro: hsl(217, 28%, 15%);
    --c-main-bg: hsl(218, 28%, 13%);
    --c-footer-bg: hsl(216, 53%, 9%);
    --c-testimonials-bg: hsl(219, 30%, 18%);

    --c-cyan: hsl(176, 68%, 64%);
    --c-blue: hsl(198, 60%, 50%);
    --c-light-red: hsl(0, 100%, 63%);
    --c-white: hsl(0, 0%, 100%);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
    font-family: var(--ff-open-sans);
    background-color: var(--c-intro);
    color: var(--c-white);
}

li, a {
    color: var(--c-white);
    text-decoration: none;
    list-style: none;
}

/* Start of Utility Classes*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.grid {
    display: grid;
}

.grid-justify-center {
    justify-items: center;
}

.grid-align-center {
    align-items: center;
}
/*End of Utility Classes*/

/*Navigation Bar*/
.navbar {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
    position: sticky;
    top: 0;
    background-color: var(--c-intro)
}

.nav-links {
    justify-self: end;
    gap: 4rem;
}

@media (min-width: 50em) {
    .navbar {
        padding: 4em 5em;
        position: unset;
    }
}
/*End of Navigation Bar section*/

/*Introduction section*/
.intro-section {
    width: 100%;
    text-align: center;
    gap: 4rem;
}

.intro-photo {
    width: 100%;
    max-width: 72rem;
    height: auto;
}

.intro-title {
    width: 72rem;
    font-size: 3rem;
    font-family: var(--ff-raleway);
    font-weight: var(--fw-700);
}

.intro-desc {
    width: 50rem;
    margin-bottom: 3rem;
}

.intro-btn {
    padding: 1em 4em;
    border: 0;
    font-weight: var(--fw-700);
    font-family: var(--ff-open-sans);
    color: var(--c-white);
    background: linear-gradient(to right, var(--c-cyan), var(--c-blue));
    border-radius: 10rem;
}
/*End of Introduction section*/

/*Features*/
.features {
    margin-top: 10rem;
    width: 100%;
    gap: 10rem;
    background-color: var(--c-main-bg);
    padding: 10rem;
}

.features p {
    width: 45rem;
    line-height: 2.5rem;
}

.feature {
    text-align: center;
    gap: 1.5rem;
}

.feature-title {
    margin-top: 3rem;
    font-size: 2.5rem;
    font-family: var(--ff-raleway);
    font-weight: var(--fw-700);
}

@media (min-width: 50em){
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*End of Features section*/

/*How Fylo Works section*/
.how-it-works {
    width: 100%;
    padding: 10rem;
    background-color: var(--c-main-bg);
}

.how-photo {
    width: 100%;
    height: auto;
}

.how-desc {
    width: 50rem;
    gap: 2rem;
}

.how-title {
    width: 30rem;
    font-size: 3rem;
    font-family: var(--ff-raleway);
    font-weight: var(--fw-700);
}

.how-link {
    width: fit-content;
    color: var(--c-cyan);
    border-bottom: 0.3rem solid var(--c-cyan);
}

@media (min-width: 50em){
    .how-it-works {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*End of How it Works section*/

/*Testimonials section*/
.testimonials {
    width: 100%;
    gap: 3rem;
    padding: 10rem;
    background-color: var(--c-main-bg);
    background-image: url(/images/bg-quotes.png);
    background-position: 8em 4.5em;
    background-repeat: no-repeat;
}

.testimonial {
    min-height: 25rem;
    background-color: var(--c-testimonials-bg);
    padding: 2em 2em;
    gap: 3rem;
}

.testimonial > p {
    font-size: 1.8rem;
}

.profile {
    gap: 1.5rem;
}

.profile-photo {
    border-radius: 100%;
    width: 4rem;
}

.profile-info {
    margin-top: auto;
    justify-self: flex-end;
}

.profile-info p {
    font-family: var(--ff-raleway);
    font-weight: var(--fw-700);
}

.profile-info span {
    font-size: 1rem;
}

@media (min-width: 50em){
    .testimonials {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*End of Testimonials section*/

/*Early Access Form*/
.early-access {
    width: 100%;
    min-height: 50vh;
    position: relative;
    background: linear-gradient(to bottom, var(--c-main-bg) 50%, var(--c-footer-bg) 50%);
}

.card {
    width: 90%;
    background-color: var(--c-intro);
    box-shadow: 0.5rem 0.5rem 0.5rem black;
    text-align: center;
    padding: 3em;
    border-radius: 1rem;
    gap: 3rem;
}

.card-title {
    font-size: 3rem;
    font-weight: var(--fw-700);
    font-family: var(--ff-raleway);
}

.email-input,
.email-btn {
    width: 100%;
    padding: 1em;
    border-radius: 10rem;
    border: 0;
}

.email-btn {
    margin-top: 3rem;
    font-weight: var(--fw-700);
    font-family: var(--ff-open-sans);
    color: var(--c-white);
    background: linear-gradient(to right, var(--c-cyan), var(--c-blue));
}

@media (min-width: 50em) {
    .card {
        width: 60%;
    }

    .card-desc {
        padding: 0 4em;
    }

    .email-input {
        width: 60%;
    }

    .email-btn {
        margin-top: unset;
        width: unset;
        margin-left: 3rem;
    } 
}
/*End of Early Access Form section*/

/*Footer*/
.footer {
    padding: 4em;
    gap: 8rem;
    background-color: var(--c-footer-bg);
}

.footer-icon-desc {
    gap: 2rem;
}

.footer-icon-desc p,
.footer a {
    width: fit-content;
}

.footer-multiple {
    gap: 3rem;
}

@media (min-width: 50em) {
    .footer {
        padding: 6em;
        grid-template-columns: repeat(4, 1fr);
    }    

    .footer-logo {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}