* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Font Families*/
    --ff-barlow: 'Barlow';
    --ff-fraunces: 'Fraunces';

    /*Font Weights*/
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;

    /*Colors*/
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --dark-blue: hsl(198, 62%, 26%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    font-weight: var(--fw-600);
    font-family: var(--ff-barlow);
    color: var(--dark-grayish-blue);
}

h2 {
    font-family: var(--ff-fraunces);
}

li, a {
    text-decoration: none;
    list-style: none;
}

/* Start of Utility Classes*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}
/*End of Utility Classes*/

/*Welcome Screen*/
.welcome-screen {
    width: 100%;
    min-height: 100vh;
    background-image: url("/images/desktop/image-header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.navbar {
    width: 100%;
    padding: 3.5rem;
}

.logo {
    width: 15rem;
    height: 3rem;
}

.nav-links {
    align-self: flex-end;
    margin-left: auto;
    gap: 5rem;
}

@media (max-width: 50em) {
    .navbar > .nav-links {
        display: none;
    }
}

.nav-items {
    color: hsl(0, 0%, 100%);
}

.contact-btn {
    padding: 1em 2em;
    font-size: 1.5rem;
    border-radius: 3rem;
    border: 0;
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-900);
    color: var(--very-dark-desaturated-blue);
}

.contact-btn:hover {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%, 0.5);
    transition: 0.2s;
}

.hamburger-icon {
    align-self: flex-end;
    margin-left: auto;
}

.topnav {
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    display: unset;
    height: 0;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 10rem;
}

.topnav > .nav-links {
    padding: 2em;
    gap: 3rem;
}

.topnav > .nav-links > .contact-btn {
    background-color:  hsl(51, 100%, 49%);
}

.topnav > .nav-links > .contact-btn:hover {
    color: var(--very-dark-desaturated-blue);
    background-color:  hsl(51, 99%, 44%);
}

.topnav ul li a {
    color: var(--very-dark-grayish-blue);
}

.topnav ul li a:hover {
    color: var(--very-dark-desaturated-blue);
}

@media (min-width: 50em){
    .topnav {
        display: none;
    }

    .hamburger-icon {
        display: none;
    }
}

.header-title {
    font-family: var(--ff-fraunces);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
    letter-spacing: 0.5em;
    color: hsl(0, 0%, 100%);
}

.header-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-arrow:hover {
    cursor: pointer;
}
/*End of Welcome Screen*/

/*Services Section*/
.services-section {
    color: var(--dark-grayish-blue);
    grid-template-rows: repeat(3, 1fr);
}

@media (min-width: 40em){
    .services-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .egg-photo {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .transform-desc {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

.service-photo {
    width: 100%;
    height: 100%;
}

.service-desc {
    height: 100%;
    width: 100%;
    gap: 3rem;
    padding: 5em;
}

.service-desc h2 {
    color: var(--very-dark-desaturated-blue);
    font-size: 4rem;
}

.service-desc a {
    color: var(--very-dark-desaturated-blue);
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-900);
    text-decoration: underline 0.3rem;
    width: 12.5rem;
}

.service-desc a:hover {
    color: var(--dark-blue);
    transition: 0.2s ease-in-out;
}

@media (max-width: 40em){
    .services-section {
        text-align: center;
    }

    .service-desc {
        align-items: center;
    }
}

.last-two-desc-div {
    position: relative;
}

.last-two-desc {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 3em;
    padding: 0 5em 0 5em;
    min-height: 20%;
}

.graphic-design h2 {
    margin-bottom: 1em;
    color: var(--dark-desaturated-cyan);
}

.graphic-design p {
    color: var(--dark-moderate-cyan);
    font-weight: var(--fw-700);
}

.photography h2 {
    margin-bottom: 1em;
    color: var(--very-dark-desaturated-blue);
}

.photography p {
    color: var(--dark-blue);
    font-weight: var(--fw-700);
}
/*End of Services section*/

/*Testimonials*/
.testimonials {
    width: 100%;
    min-height: 100vh;
    padding: 4em;
    gap: 5em;
}

@media (min-width: 53em){
    .testimonials {
        padding: 8em;
    }
}

.testimonials-title {
    font-family: var(--ff-fraunces);
    letter-spacing: 0.5em;
    text-align: center;
}

.clients-div {
    text-align: center;
    width: 100%;
    gap: 8rem;
}

@media (min-width: 40em){
    .clients-div {
        grid-template-columns: repeat(3, 1fr);
    }
}

.client {
    gap: 3rem;
    line-height: 3rem;
}

.client-photo {
    border-radius: 100%;
    width: 10rem;
}

.client-name {
    font-family: var(--ff-fraunces);
    color: var(--very-dark-desaturated-blue);
}
/*End of Testimonials section*/

/*Projects*/
.projects {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 53em){
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

.project-photo {
    width: 100%;
    height: auto;
}
/*End of Projects section*/

/*Footer/Contact*/
.footer {
    width: 100%;
    min-height: 40vh;
    background-color: rgb(134, 199, 185);
    padding: 3em;
    gap: 4rem;
}

.footer-links {
    margin-bottom: 3em;
}

.footer-links a {
    color: var(--dark-moderate-cyan);
}

.footer-links a:hover {
    color: hsl(0, 0%, 100%);
    transition: 0.2s ease-in-out;
}

.contacts {
    gap: 3rem;
}

.contacts-icon:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(0.5rem);
}