* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
}

section {
    width: 100%;
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.welcome {
    background-color: hsl(353, 100%, 62%);
    background-image: url("/images/bg-pattern-intro-desktop.svg");
    background-size: 220% auto;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 25%;
    border-bottom-left-radius: 10rem;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    gap: 10rem;
}

.navbar {
    width: 100%;
    min-height: 15rem;
    align-items: center;
    padding: 0 10rem 0 15rem;
    gap: 3rem;
    font-size: 1.5rem;
}

#logo {
    max-width: 100%;
    height: auto;
    margin-right: 5rem;
}

.nav-btn {
    justify-self: flex-end;
    margin-left: auto;
    gap: 3rem;
}

.white-btn {
    border: 0;
    padding: 2rem 3.5rem;
    border-radius: 3rem;
    color: hsl(353, 100%, 62%);
    font-weight: 700;
}

.normal-btn {
    border: 1px solid hsl(0, 0%, 100%);
    padding: 2rem 3.5rem;
    border-radius: 3rem;
    background-color: hsl(353, 100%, 62%, 0);
    color: hsl(0, 0%, 100%);
    font-weight: 700;   
}

.head-title {
    color: hsl(0, 0%, 100%);
    font-size: 3rem;
    gap: 2.5rem;
}

.head-title p {
    font-size: 2rem;
}

.buttons {
    gap: 3rem;
}

.grid {
    display: grid;
}

.first-section {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;
}

.section-title {
    color: hsl(208, 49%, 24%);
    padding-top: 8rem;
    grid-column: span 2;
    min-height: 5rem;
    text-align: center;
}

#box-pic {
    width: 100%;
    height: auto;
    object-position: 20rem;
}

.qualities {
    gap: 8rem;
    padding: 0 8rem 0 8rem;
}

.quality {
    gap: 3rem;
}

.quality h3 {
    color: hsl(208, 49%, 24%);
}

.quality p {
    color: hsl(208, 49%, 24%);
}

.second-section {
    background-color: hsl(237, 17%, 21%);
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

.double-phone {
    width: 100%;
    max-width: 50rem;
    height: auto;
}

.second-section-quality {
    color: #eee;
    width: 50%;
    font-size: 2rem;
    gap: 3rem;
    padding: 0 8rem 0 8rem;
}

.second-section-quality h3 {
    font-size: 4rem;
}

.third-section {
    margin-top: 8rem;
    width: 100%;
}

.laptop-pic {
    width: 50%;
    height: auto;
    object-position: -12rem;
}

.third-qualities {
    color: hsl(208, 49%, 24%);
    gap: 5rem;
    width: 50%;
    padding-right: 3.5em;
    font-size: 2rem;
}

.third-quality {
    gap: 2.5rem;
    width: 100%;
}

.footer {
    border-top-right-radius: 10rem;
    margin-top: 8rem;
    padding: 5em;
    width: 100%;
    height: 40vh;
    background-color: hsl(237, 23%, 32%);
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    color: #eee;
    font-size: 1.5rem;
}

.footer-col {
    gap: 0.5rem;
}

.col-title {
    margin-bottom: 2rem;
}